<h1>About Us...</h1>

<p><strong> Work</strong><br>
Since 2015, I have been working in computer programming, front-end graphic design, just about everything else.
<br><br>
Some languages I frequently find myself using include HTML, CSS, Bootstrap and JavaScript.
<br><br>
I have completed over 10 projects including websites, and illustrations.
<br><br>
I use Linux operating system. I like Linux.
<br><br>
<strong>I'm Expert</strong><br>
I offer complete software design and development, including but not limited to graphics and branding work. I specialize in creating beautiful, custom-built applications for clients ranging from individuals and small businesses all the way to large enterprise corporations. What would you do if you had a software expert available at your fingertips?</p>